$symmetry c1
$uff
      2500         1          0 ! maxcycle,modus,nqeq
    111111                      ! iterm
  0.10D-07  0.10D-04            ! econv,gconv
      0.00  1.10                ! qtot,dfac
  0.10D+03  0.10D-04       0.30 ! epssteep,epssearch,dqmax
        25      0.10       0.00 ! mxls,dhls,ahls
      1.00      0.00       0.00 ! alpha,beta,gamma
         F         F          F ! transform,lnumhess,lmd
$grad file=uffgradient
$uffhessian file=uffhessian0-0
$ufftopology file=ufftopology
$coord file=coord
$forceinit on 
  carthess
$hessian file=uffhessian0-0
$end
